@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "teleave";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(19% 0 0);
  --color-base-300: oklch(22% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(26% 0.065 152.934);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(27% 0.072 132.109);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(39% 0.095 152.535);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(26% 0.051 172.552);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(50% 0.118 165.612);
  --color-info-content: oklch(89.04% 0.062 264.052);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(90.395% 0.035 142.495);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(19.359% 0.042 109.769);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(12.559% 0.051 29.233);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
